{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                <input type="search" name="item-name" class="form-control form-control-boderless">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Recherche</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}